<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <hr/>
<% end %>

<%= form_tag uploads_path, :multipart => true do %>
  <label for="file">Photo to Upload</label> <%= file_field_tag "photo" %><br/><hr/>
  <%= submit_tag "Post photo" %>
<% end %>

<hr/>

<% if @photo %>
  <%= image_tag @photo.photo_path_for_view %><br/>

  <%= form_tag "/uploads/#{@photo.id}", :method => :put do %>
    <label for="comment">Comment: </label><%= text_field_tag :comment, nil, :length => 500 %>
    <%= submit_tag "Send photo & comment" %>
  <% end %>
  
  <hr/>
<% end %>

<%= link_to 'Home', root_path %>