<h5><%= @access_token %></h5>

<%= form_tag "https://graph.facebook.com/me/photos?access_token=#{@access_token}", :multipart => true do %>
  <label for="file">Photo to Upload</label> <%= file_field_tag "photo" %><br/><hr/>
  <%= submit_tag "Post photo" %>
<% end %>

<hr/>

<%= link_to 'Home', root_path %>